

.main-app-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // opacity: 0;

  & .pokemon-container {
    position: relative;

    & h4 {
      text-align: center;
    }
  }
}
